<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Card App</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <div id="app">
      <h2 class="title has-text-centered dividing-header">Social!</h2>
      <h3 class="has-text-centered dividing-header">Let's Get Social!!!</h3>
      <div
        class="section"
        id="section"
        v-for="card in cards"
        v-bind:key="card.id"
      >
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img alt="Placeholder image" v-bind:src="card.post" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img alt="Placeholder image" v-bind:src="card.userImg" />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{card.name}}</p>
                <p class="subtitle is-6">{{card.userName}}</p>
              </div>
            </div>

            <div class="content">
              {{card.bio}} <br />
              <a href="" rel="noopener noreferrer" v-for="tag in card.tags"
                >{{tag}} &nbsp;</a
              >

              <br />
              <time datetime="2016-1-1">{{card.Time}} - {{card.Date}} </time>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-centered">
        <a
          href="./upload.html"
          class="button is-primary"
          style="margin-bottom: 20px"
          >Upload</a
        >
      </div>
    </div>

    <!-- ============= SCRIPTS =================-->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
    <script src="./seed.js"></script>
  </body>
</html>
